h1 {
  background-color: aliceblue;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 10px;
  padding: 8px;
}

.row-content {
  padding: 10px;
  background-color: blue;
}

.col-content {
  padding: 10px;
}

.gridSquare {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 0;
}
